@font-face{
    font-family: 'PTSans-Bold';
    src: url('../fonts/PTSans-Bold/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold/PTSans-Bold.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold/PTSans-Bold.ttf') format('truetype'),
    url('../fonts/PTSans-Bold/PTSans-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Lato-ThinItalic';
    src: url('../fonts/Lato-ThinItalic/Lato-ThinItalic.eot');
    src: url('../fonts/Lato-ThinItalic/Lato-ThinItalic.eot?iefix') format('embedded-opentype'),
    url('../fonts/Lato-ThinItalic/Lato-ThinItalic.woff') format('woff'),
    url('../fonts/Lato-ThinItalic/Lato-ThinItalic.ttf') format('truetype'),
    url('../fonts/Lato-ThinItalic/Lato-ThinItalic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Italic';
    src: url('../fonts/PTSerif-Italic/PTSerif-Italic.eot');
    src: url('../fonts/PTSerif-Italic/PTSerif-Italic.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.woff') format('woff'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.ttf') format('truetype'),
    url('../fonts/PTSerif-Italic/PTSerif-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Regular';
    src: url('../fonts/PTSerif-Regular/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular/PTSerif-Regular.eot?iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.woff') format('woff'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.ttf') format('truetype'),
    url('../fonts/PTSerif-Regular/PTSerif-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

