@font-face{
    font-family: '';
    src: url('../fonts//.eot');
    src: url('../fonts//.eot?iefix') format('embedded-opentype'),
    url('../fonts//.woff') format('woff'),
    url('../fonts//.ttf') format('truetype'),
    url('../fonts//.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}