
@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),  url('PTSans-Bold.woff') format('woff'), url('PTSans-Bold.ttf')  format('truetype'), url('PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
