
@font-face {
  font-family: 'PTSerif-Italic';
  src: url('PTSerif-Italic.eot?#iefix') format('embedded-opentype'),  url('PTSerif-Italic.woff') format('woff'), url('PTSerif-Italic.ttf')  format('truetype'), url('PTSerif-Italic.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
