
@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.eot?#iefix') format('embedded-opentype'),  url('PTSerif-Regular.woff') format('woff'), url('PTSerif-Regular.ttf')  format('truetype'), url('PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
