
@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),  url('PTSans-Regular.woff') format('woff'), url('PTSans-Regular.ttf')  format('truetype'), url('PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
